.container {
  margin-top: 20px;
  /*-ms-transform: skew(20deg,10deg);
  -webkit-transform: skew(20deg,10deg);
  transform: skew(20deg,10deg); */
  white-space: nowrap;
  max-width: 99%;
}

.cap {text-transform: capitalize}

.vMiddle {vertical-align: middle !important;height:58px;}

.col-md-6 {
  height:58px;
  vertical-align: middle;
}

h3 {  height:58px;vertical-align: middle;}
